@import url('https://fonts.googleapis.com/css?family=Abel');

*{
	margin:0;
	padding: 0;
}
body{
	font-family: 'Abel', sans-serif;
}
#div-1 p{
	text-align: center;
	margin-left: 1%;
	margin-bottom: 1%;
	font-family: 'Abel', sans-serif;
	font-size: 40px;
}
#div-1{
	background-color: #44E39E;
	height: 35vh;
	text-align: center;
}
#div-1 input[type=text]{
	font-family: 'Abel', sans-serif;
	font-size: 20px;
	border:0;
	width: 50%;	
	padding: 1%;
}
#div-1 button{
	font-family: 'Abel', sans-serif;
	font-size: 20px;
	border:0;
	padding: 1%;
}
#div-1 button:hover{
	cursor: pointer;
}
#main-div{
	width: 100%;
	height: auto;
	background-color: #E7F4FD;
	font-size: 22px;
}
#main-div ul{
	
}
#main-div ul li{
	border-bottom:1px solid black;
}
#main-div ul li:hover{
	background-color: #E3E5E6;
}
#main-div ul li button{
	float: right;
	height: 4.7vh;
	width: 5%;
	border:0;
	transition: 0.1s ease-in;
}
#main-div ul li button:hover{
	background-color: red;
	cursor: pointer;
}
#main-div ul .clicked{
	background:#888;
	text-decoration: line-through;
}